In [37]:
import pandas as pd 
import numpy as np
import xarray as xr

a fake dataframe where  
- episode will be a unique float for serial_episode (could generate these in a dict looping over serial_episode.unique())
- timestep will be the integer for which time period the features belong to
- feature1 will be the numerical version of an indiviual feature e.g., one-hot encoding of categorical level
- feature2 as feature1

In [56]:
df = pd.DataFrame({'episode':    [ 1,1,1,1,1,1, 2,2,2,2,2,2, 3,3,3,3,3,3],
                   'timestep': [ 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60],
                   'feature1': [0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0],
                   'feature2': [0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0],
                    }, dtype=object)

Note for keras, the features need to be floats between 0 and 1. Additional pre-processing of real data will be needed

In [57]:
df

   episode feature1 feature2 timestep
0        1        0        0       10
1        1        0        0       20
2        1        1        1       30
3        1        1        1       40
4        1        0        0       50
5        1        0        0       60
6        2        0        0       10
7        2        0        0       20
8        2        1        1       30
9        2        1        1       40
10       2        0        0       50
11       2        0        0       60
12       3        0        0       10
13       3        0        0       20
14       3        1        1       30
15       3        1        1       40
16       3        0        0       50
17       3        0        0       60

create a multiindex dataframe so that columns are for each timestep, and each timestep is for each client_episode

In [78]:
df_mi = df.set_index(['episode', 'timestep'])
df_mi

                 feature1 feature2
episode timestep
1       10              0        0
        20              0        0
        30              1        1
        40              1        1
        50              0        0
        60              0        0
2       10              0        0
        20              0        0
        30              1        1
        40              1        1
        50              0        0
        60              0        0
3       10              0        0
        20              0        0
        30              1        1
        40              1        1
        50              0        0
        60              0        0

In [101]:
df_mi.values.reshape((3, 6, 2))

array([[[0, 0],
        [0, 0],
        [1, 1],
        [1, 1],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [1, 1],
        [1, 1],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [1, 1],
        [1, 1],
        [0, 0],
        [0, 0]]], dtype=object)

df_mi is now in the shape (episodes, timesteps, featurevec) which is needed for sequence models in keras.